body {
    background-color: black;
    text-align: center;
}

#title {
    color:#8b0000;
    font-family: "Wallpoet";
}

#img-div {
    width: 540px;
    height: 809.5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

p, li, h2 {
    color: white;
}

ul {
    text-align: left;
    position: relative;
    left: 30%;
}

li {
    margin: 20px 0;
}

#img-caption {
    font-style: italic;
    position: relative;
    margin-top: auto;
}

#tribute-info {
    text-align: center;
}

#timeline-header {
    font-size: 90%
}

a {
    color: yellow;
}